<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Take Off</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png') }}" type="image/png">

    <!-- Bootstrap Core CSS -->
    <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{{ url_for('static', filename='vendor/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="{{ url_for('static', filename='vendor/magnific-popup/magnific-popup.css') }}" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="{{ url_for('static', filename='css/creative.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/toastr.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootstrap-tagsinput.css') }}" rel="stylesheet" >

    <!-- LeafletJS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.2/dist/leaflet.css" />
    <!-- jQuery -->
    <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.min.js') }}"></script>

    <script src="https://unpkg.com/leaflet@1.0.2/dist/leaflet.js"></script>
    <script src="{{ url_for('static', filename='js/toastr.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-tagsinput.js') }}"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style>
      #map {
        height: 500px;
      }
      .popup-image {
        float: left;
        height: 100px;
        width: 100px;
        margin-right: 20px;
        margin-bottom: 20px;
      }
      .marker-popup {
        padding-bottom: 10px;
      }
      .progress {
        margin-top: 5px;
      }
      .bootstrap-tagsinput {
        width: 100% !important;
      }
      .tech-list li{
        padding-bottom: 5px;
      }
      .selected {
        background-color: gray;
      }
      .unselected {
        background-color: white;
      }
      .nopadding {
        padding: 0 !important;
        margin: 0 !important;
      }
      .minpadding {
        padding-left: 10px !important;
        padding-right: 20px !important;
      }
      #list-group li {
        cursor: pointer;
      }
    </style>

</head>

<body id="page-top">
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Takeoff</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#about">Create Schedule</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#map_section">Map</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#code">Code</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header id="top">
        <div class="header-content">
            <div class="header-content-inner">
                <h1 id="homeHeading">Find The Activities That Suit You Best</h1>
                <hr>
                <p>A website that uses <b>genetic algorithms</b> to create a day-long vacation schedule tailored to your own interests.</p>
                <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
            </div>
        </div>
    </header>

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">How it works</h2>
                    <hr class="light">
                    <p class="text-faded">Enter your current city as well as a list of your personal interests. Then, our genetic algorithm will automatically create you a unique schedule for the day.</p>
                    <a href="#services" class="page-scroll btn btn-default btn-xl sr-button">Get Started!</a>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class = "container">
            <div class = "col-md-6 col-md-offset-3">
                <div class = "well">
                    <h2>Get started</h2>
                    <div>
                      <div class="form-group">
                        <h4 for="locationForm">Location:</h4>
                        <input type="text" class="form-control" id="locationForm" value="San Francisco, California">
                      </div>
                      <div class="form-group">
                        <h4 for="terms">Filter terms:<br><small> Type a new term and press enter (ie, historic, sports, music).</small></h4>
                        <input type="text" class="form-control" id="terms" data-role="tagsinput">
                      </div>
                    <br>
                    <div class="">
                      <button id="submit_button" class="btn btn-primary text-center">Create a schedule!</button>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </section>
    <section id="map_section">
      <div class="row">
        <div id="map_left_col" class="nopadding">
          <div id="map"></div>
        </div>
        <div id="map_right_col" class="col-md-3 nopadding">
          <div class="text-center">
            <h2>Your Schedule</h2>
          </div>
          <ul id="list-group" class="minpadding">
          </ul>
        </div>
      </div>
   </section>
    <section id="code">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Want to see the code behind this project?</h2>
                    <hr class="primary">
                    <p>This site was created by the <i>Phoenix AZ Hackers</i> at HackAZ 2017.</p>
                    <p><i>Technologies used:</i></p>
                    <ul class="tech-list" style="list-style:none;">
                      <li>Our own <b>genetic algorithm implementation</b> for optimizing schedules.</li>
                      <li><b>Amadeus and Yelp APIs</b> for retrieving restaurants and activities.</li>
                      <li><b>Google Geocoding API</b> to retrieve city coordinates.</li>
                      <li><b>Bootstrap/jQuery</b>for web interactivity.</li>
                      <li><b>Leaflet.js</b> for map interactions.</li>
                    </ul>
                </div>
                <div class="col-lg-6 col-lg-offset-3 text-center">
                    <i class="fa fa-github fa-3x sr-code"></i>
                    <a href = "https://github.com/kaaniboy/HackAZ"> github.com/kaaniboy/HackAZ </a>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <a id="to-top" href="#top" class="btn btn-dark btn-lg"><i class="fa fa-chevron-up fa-fw fa-2x"></i></a>
    </footer>


    <!-- APP.JS -->
    <script src = "{{ url_for('static', filename='js/app.js') }}"> </script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="{{ url_for('static', filename='vendor/scrollreveal/scrollreveal.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/magnific-popup/jquery.magnific-popup.min.js') }}"></script>

    <!-- Theme JavaScript -->
    <script src="{{ url_for('static', filename='js/creative.min.js') }}"></script>

    <script>
    // Scrolls to the selected menu item on the page
    </script>

</body>

</html>
